#/proc/sys/fs/inotify/max_user_watches = 8192
fs.inotify.max_user_watches = 16384

#/proc/sys/fs/inotify/max_user_instances = 128
fs.inotify.max_user_instances = 256

#/proc/sys/fs/inotify/max_queued_events = 16384
fs.inotify.max_queued_events = 32768
